<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICommonService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="04:00:00" sendTimeout="00:03:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00"
            enabled="true" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDataDictService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="04:00:00" sendTimeout="00:03:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00"
            enabled="true" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISalesModuleService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="04:00:00" sendTimeout="00:03:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00"
            enabled="true" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISystemSecurityService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="04:00:00" sendTimeout="00:03:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00"
            enabled="true" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPurchaseModuleService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="04:00:00" sendTimeout="00:03:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00"
            enabled="true" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IInventoryModuleService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="04:00:00" sendTimeout="00:03:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00"
            enabled="true" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountModuleService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2345/WCF_Server/InventoryModuleService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInventoryModuleService"
        contract="WCF_InventoryModuleService.IInventoryModuleService"
        name="WSHttpBinding_IInventoryModuleService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:2345/WCF_Server/CommonService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonService"
        contract="WCF_CommonService.ICommonService" name="WSHttpBinding_ICommonService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:2345/WCF_Server/DataDictService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataDictService"
        contract="WCF_DataDictService.IDataDictService" name="WSHttpBinding_IDataDictService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:2345/WCF_Server/AccountModuleService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountModuleService"
        contract="WCF_AccountModuleService.IAccountModuleService" name="WSHttpBinding_IAccountModuleService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:2345/WCF_Server/PurchaseModuleService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPurchaseModuleService"
        contract="WCF_PurchaseModuleService.IPurchaseModuleService"
        name="WSHttpBinding_IPurchaseModuleService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:2345/WCF_Server/SalesModuleService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISalesModuleService"
        contract="WCF_SalesModuleService.ISalesModuleService" name="WSHttpBinding_ISalesModuleService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:2345/WCF_Server/SystemSecurityService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISystemSecurityService"
        contract="WCF_SystemSecurityService.ISystemSecurityService"
        name="WSHttpBinding_ISystemSecurityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>